---
// import Footer from "../components/Footer.astro";
export const prerender = true;
import Hero from "@/components/home/Hero";
import About from "@/components/home/About";
import Projects from "@/components/home/ProjectsComponent.astro";
import Contact from "@/components/home/Contact.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
import Skills from "@/components/home/Skills";
import RecentBlogs from "@/components/home/RecentBlogs";
---

<BaseLayout bodyClass="bg-gray-50 flex flex-col">
  <section class="flex-1 flex flex-col items-center justify-center">
    <Hero />
    <About />
    <Skills />
    <Projects />
    <RecentBlogs />
    <Contact />
  </section>
</BaseLayout>
