---
import { Button } from "@/components/ui/button";
import { Mail } from "lucide-react";
import { MY_EMAIL } from "@/consts";
import Resume from "@/assets/home/resume-Zhenhao-Yang.pdf";
---

<section id="contact" class="container px-4 py-24 md:py-32 bg-muted/50">
  <div class="mx-auto max-w-2xl text-center">
    <h2 class="text-3xl font-bold tracking-tighter sm:text-4xl md:text-5xl">
      Let's Work Together
    </h2>
    <p class="mt-4 text-muted-foreground md:text-xl/relaxed">
      I'm always interested in new opportunities and exciting projects. Let's
      discuss how we can bring your ideas to life.
    </p>
    <div class="mt-8 flex flex-col gap-4 sm:flex-row sm:justify-center">
      <a href={`mailto:${MY_EMAIL}`} target="_blank">
        <Button size="lg">
          <Mail className="h-4 w-4 mr-2" />
          Send Email
        </Button>
      </a>
      <a href={Resume} target="_blank">
        <Button size="lg" variant="outline"> Download Resume </Button>
      </a>
    </div>
  </div>
</section>
